# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*
/lists/local/*
!/lists/local/.gitkeep
# Docs
docs/

# Dotenv file
.env*
broa

# Anvil files
anvil.json

# System files
.DS_Store
.idea

node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
